:root {
	--border_color: rgb(0, 183, 255);
	--accent_color: lightblue;
	--hover_color: lightblue;
	--card_color: white;
}

.list {
	background-color: var(--card_color);
	margin: 1em;
	height: 80%;
	width: 90%;
	overflow-y: scroll;
	scrollbar-width: 10px;
	border-radius: 5px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--card_color);
}

::-webkit-scrollbar-thumb {
	background: var(--accent_color);
	border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--accent_color);
}
